table#compatibility {
	position: absolute;
	bottom: 10px;
	right: 10px;
	border-collapse: collapse;
}

table#compatibility td {
	text-align: center;
	font-weight: bold;
	height: 30px;
}

table#compatibility td.pass {
	background-image: url('../img/ok-icon.png');
    background-position: center center;
    background-repeat: no-repeat;
}

table#compatibility td.failed {
	background-image: url('../img/ko-icon.png');
    background-position: center center;
    background-repeat: no-repeat;
}

table#compatibility td.unknow {
	background-image: url('../img/unknow-icon.png');
    background-position: center center;
    background-repeat: no-repeat;
}

table#compatibility col {
	width: 70px;
}

table#compatibility col#firefox {
	background-color: #F2F2F2;
}

table#compatibility col#chrome {
	background-color: #BDBFBF;
}

table#compatibility col#ie7 {
	background-color: #A4A6A6;
}

table#compatibility col#ie8 {
	background-color: #888B8C;
}
